
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/img/mau-giao2.jpeg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown mb-4">Ngôi nhà chung tuyệt vời</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Môi trường học tập và vui chơi thân thiện cùng đội ngũ giáo viên có đạo đức nghề nghiệp cao, là người bạn đồng hành cùng quá trình lớn khôn của trẻ</p>
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/img/mau-giao.jpg"  alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-2 text-white animated slideInDown mb-4">Cải thiện kỹ năng cho trẻ</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Trang bị đầy đủ cơ sở vật chất cùng khuôn viên trường thoáng đãng, tạo điều kiện cho việc tổ chức các lớp kỹ năng và thực hành cho trẻ</p>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facilities Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Cơ sở vật chất</h1>
                <p>Trang bị đầy đủ cơ sở vật chất cần thiết, tạo điều kiện thuận lợi nhất cho bố mẹ và trẻ đến trường</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="facility-item">
                        <div class="facility-icon bg-primary">
                            <span class="bg-primary"></span>
                            <i class="fa fa-bus-alt fa-3x text-primary"></i>
                            <span class="bg-primary"></span>
                        </div>
                        <div class="facility-text bg-primary">
                            <h3 class="text-primary mb-3">Xe buýt trường học</h3>
                            <p class="mb-0">Hệ thống xe buýt trường học sẽ đưa đón trẻ tận nhà, đảm bảo an toàn cho trẻ trong quá trình đi đến trường</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="facility-item">
                        <div class="facility-icon bg-success">
                            <span class="bg-success"></span>
                            <i class="fa fa-futbol fa-3x text-success"></i>
                            <span class="bg-success"></span>
                        </div>
                        <div class="facility-text bg-success">
                            <h3 class="text-success mb-3">Sân chơi</h3>
                            <p class="mb-0">Sân chơi thoải mái, thoáng mát, sạch sẽ, tạo điều kiện cho trẻ vui chơi thoải mái và tham gia các lớp kỹ năng ngoài trời</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="facility-item">
                        <div class="facility-icon bg-warning">
                            <span class="bg-warning"></span>
                            <i class="fa fa-home fa-3x text-warning"></i>
                            <span class="bg-warning"></span>
                        </div>
                        <div class="facility-text bg-warning">
                            <h3 class="text-warning mb-3">Căn tin an toàn thực phẩm</h3>
                            <p class="mb-0">Căn tin đảm bảo an toàn vệ sinh an toàn thực phẩm, các món ăn đa dạng được thay đổi hàng ngày, đầy đủ dinh dưỡng cho trẻ</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="facility-item">
                        <div class="facility-icon bg-info">
                            <span class="bg-info"></span>
                            <i class="fa fa-chalkboard-teacher fa-3x text-info"></i>
                            <span class="bg-info"></span>
                        </div>
                        <div class="facility-text bg-info">
                            <h3 class="text-info mb-3">Môi trường học tập tích cực</h3>
                            <p class="mb-0">Đội ngũ giáo viên có đạo đức nghề nghiệp cao, tạo môi trường lành mạnh, yêu thương dành cho trẻ</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facilities End -->
    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Lời nhắn gửi của các phụ huynh!</h1>
                <p>Các phụ huynh đều hài lòng và an tâm khi cho con em của mình học tập tại Trường Mầm Non Kider</p>
            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item bg-light rounded p-5">
                    <p class="fs-5">Trường Mầm Non Kider là hệ thống giáo dục được tôi tin tưởng hàng đầu vì sự đảm bảo uy tín, chất lượng và hiệu quả.</p>
                    <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="~/img/PH2.jpg" style="width: 90px; height: 90px;">
                        <div class="ps-3">
                            <h3 class="mb-1">Anh Nguyễn Công Ninh</h3>
                            <span>Phụ huynh</span>
                        </div>
                        <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                    </div>
                </div>
                <div class="testimonial-item bg-light rounded p-5">
                    <p class="fs-5">Các giáo viên Ở Kider rất thân thiện và hòa nhã, luôn chỉ dạy tận tình cho con của tôi, tôi rất hài lòng vì điều đó!</p>
                    <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="~/img/PH1.jpg" style="width: 90px; height: 90px;">
                        <div class="ps-3">
                            <h3 class="mb-1">Chị Trần Ngọc Mai</h3>
                            <span>Phụ huynh</span>
                        </div>
                        <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                    </div>
                </div>
                <div class="testimonial-item bg-light rounded p-5">
                    <p class="fs-5">Môi trường và khuôn viên ở Kider thật sự thoáng đãng và sạch sẽ, các món ăn vô cùng đa dạng và dinh dưỡng, tôi rất an tâm khi cho con theo học ở đây.</p>
                    <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                        <img class="img-fluid flex-shrink-0 rounded-circle" src="~/img/PH3.jpg" style="width: 90px; height: 90px;">
                        <div class="ps-3">
                            <h3 class="mb-1">Anh Phạm Tuấn Khang</h3>
                            <span>Phụ huynh</span>
                        </div>
                        <i class="fa fa-quote-right fa-3x text-primary ms-auto d-none d-sm-flex"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
</div>
