
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- Call To Action Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="~/img/news1.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <h1 class="mb-4">Tuyển Giáo viên mầm non</h1>
                        <p class="mb-4">
                            Nếu bạn muốn trở thành thành viên của ngôi nhà chung Kider, vui lòng gửi CV qua email: KiderTuyenDung@gmail.com

                        </p>
                        <p>Yêu cầu: Tốt nghiệp sư phạm mầm non, có đạo đức nghề nghiệp tốt, hòa nhã, thân thiện.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Call To Action End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">Các hoạt động cho trẻ</h1>
                <p>Trẻ được tham gia các hoạt động trong nhà cũng như ngoài trời sôi nổi</p>
                <p class="mb-4">Chúng tôi luôn quan tâm đén việc phát triển trí tuệ và thể chất cho trẻ, vì thế, chung tôi thường xuyên tổ chức các lớp tư duy và kỹ năng giúp trẻ phát triển.</p>
                <div class="row g-4 align-items-center">
                    
                    <div class="col-sm-6">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle flex-shrink-0" src="~/img/HieuTruong.jpg" alt="" style="width: 45px; height: 45px;">
                            <div class="ms-3">
                                <h6 class="text-primary mb-1">Bùi Khả Minh</h6>
                                <small>Hiệu trưởng trường Mầm non Kider</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                <div class="row">
                    <div class="col-12 text-center">
                        <img class="img-fluid w-75 rounded-circle bg-light p-3" src="~/img/about1.jpg" alt="">
                    </div>
                    <div class="col-6 text-start" style="margin-top: -150px;">
                        <img class="img-fluid w-100 rounded-circle bg-light p-3" src="~/img/about2.jpg" alt="">
                    </div>
                    <div class="col-6 text-end" style="margin-top: -150px;">
                        <img class="img-fluid w-100 rounded-circle bg-light p-3" src="~/img/about3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- News-->
<div class="container-xxl py-5">
    <div class="container">
        <div class="bg-light rounded">
            <div class="row g-0">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100 rounded" src="~/img/news2.jpg" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="h-100 d-flex flex-column justify-content-center p-5">
                        <h1 class="mb-4">Hoạt động vui chơi</h1>
                        <p class="mb-4">
                          Ngày 24/03/2024, các giáo viên và học sinh trường Mầm non Kider đã có buổi hoạt động thú vị về phân biệt màu sắc, giúp trẻ có khả năng phân loại, rèn tư duy cho trẻ. Đây cũng là một trong số rất nhiều các bài học phát triển kỹ năng dành cho trẻ tại Kider.

                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- News end -->
