@{
    ViewData["Title"] = "Xóa Role";
}
<h1>@ViewData["Title"]</h1>
<div>
    <p class="">Bạn muốn xóa role @ViewBag.role.Name</p>
    <form method="POST" asp-action="DeleteRole" asp-controller="QLRole" asp-area="Authorization">
        <div class="form-group">
            <input value="@ViewBag.role.Id" name="roleid" hidden/>
            <button type="submit" class="btn btn-primary">Đồng ý</button>
            <a asp-action="Index" asp-controller="QLRole" asp-area="Authorization" class="btn btn-danger">Hủy</a>
        </div>
    </form>
</div>